*
**
***
****
*****
******

In [1]:
for i in range(1,8):
    print("*"*i)

*
**
***
****
*****
******
*******

In [5]:
##using recursion 

def pattern(raw):
    if raw :
        pattern(raw-1)
        print("*"*raw, end='\n')
pattern(7)

*
**
***
****
*****
******
*******

In [ ]:
1
22
333
4444
55555
666666
7777777

In [2]:
for i in range(1,8):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777

In [8]:
## Using recursion
def pattern(raw):
    if raw:
        pattern(raw-1)
        print(str(raw)*raw,end='\n')
pattern(7)

1
22
333
4444
55555
666666
7777777

#### 1
#### 12
#### 123
#### 1234
#### 12345
#### 123456
#### 1234567

In [5]:
for i in range(1,8):
    for j in range(1,i+1):
        print(j,sep="",end="")
    print()

1
12
123
1234
12345
123456
1234567

In [17]:
#using recurion
def pattern(raw,c=5,i=1):
    if raw<c:
        print(i,sep='',end='')
        pattern(raw,c-1,i+1)
    elif raw:
        print()
        pattern(raw-1,c=5,i=1)
    
pattern(5)

1
12
123
1234
12345

2
34
456
5678
678910

In [10]:
for i in range(1,6):
    for j in range(i,2*i):
        print(j+1, sep='',end='')
    print()

2
34
456
5678
678910

1
101
0101
10101
010101

In [1]:
flag=1
for i in range(1,6):
    start=flag
    for j in range(1,i+1):
        print(flag,end='')
        if flag:
            flag=0
        else:
            flag=1
    if start:
        flag=0
    else:
        flag=1
    print()

1
01
101
0101
10101

1
2 3
3 4 5
6 7 8 9
10 11 12 13

In [26]:
temp=1
for i in range(1,6):
    for j in range(1,i+1):
        print(temp,sep="\t",end=' ')
        temp+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [29]:
for i in range(1,6):
    for j in range(5,5-i,-1):
        print(j,end='')
    print()

5
54
543
5432
54321

In [5]:
# using recursion
def pattern(raw,c=5):
    if raw<c:
        print(c,sep='',end='')
        pattern(raw,c-1)
    elif raw:
        print()
        pattern(raw-1,c=5)
    
pattern(5)

5
54
543
5432
54321

5
44
333
2222
11111

In [36]:
count=1
for i in range(5,0,-1):
    print(str(i)*count)
    count+=1

5
44
333
2222
11111

In [38]:
for i in range(10,0,-1):
    print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

11111
2222
333
22
1

In [41]:
raw=5
count=1
for i in range(1,6):
    for j in range(1,raw+1):
        print(count,end='')
    if raw==count:
        count-=1
    else:
        count+=1
    raw-=1
    print()

11111
2222
333
22
1

12345
1234
123
12
1

In [42]:
raw=5
for i in range(1,6):
    count=1
    for j in range(1,raw+1):
        print(count,end='')
        count+=1
    raw-=1
    print()

12345
1234
123
12
1

In [ ]:
#using recursion
def pattern(raw,c=1):
    if raw>=c:
        print(c,sep='',end='')
        pattern(raw,c+1)
    elif raw:
        print()
        pattern(raw-1,c=1)
    
pattern(6)

55555
4444
333
22
1

In [46]:
raw=5
for i in range(1,6):
    for j in range(1,raw+1):
        print(raw,end='')
    raw-=1
    print()

55555
4444
333
22
1

54321
5432
543
54
5

In [47]:
raw=5
for i in range(1,6):
    count=5
    for j in range(1,raw+1):
        print(count,end='')
        count-=1
    raw-=1
    print()

54321
5432
543
54
5

In [8]:
for i in range(1,10):
    print(("*"*i).center(9))

    *
    **
   ***
   ****
  *****
  ******
 *******
 ********
*********

    1  
   1 2 
  1 2 3
 1 2 3 4

In [4]:
for i in range(1,5):
    string=''
    for j in range(1,i+1):
        string=string+" "+str(j)
    print(string.center(7))

    1
   1 2
  1 2 3
 1 2 3 4

    *
   **
  ***
 ****
*****

In [8]:
for i in range(1,6):
    print(("*"*i).rjust(5))

    *
   **
  ***
 ****
*****

    1
   12
  123
 1234
12345

In [35]:
for i in range(1,6):
    string=''
    for j in range(1,i+1):
        string=string+str(j)
    print(string.rjust(5),end='')
    print()

    1
   12
  123
 1234
12345

    *     
   ***    
  *****   
 *******

In [36]:
for i in range(1,9,2):
    print(("*"*i).center(10))

    *
   ***
  *****
 *******

    1     
   222    
  33333   
 4444444  
555555555

In [42]:
for i in range(1,6,):
        print((str(i)*(2*i-1)).center(10))

    1
   222
  33333
 4444444
555555555

555555555 
 4444444  
  33333   
   222    
    1

In [62]:
for i in range(5,0,-1):
        print((str(i)*(2*i-1)).center(10))

555555555
 4444444
  33333
   222
    1

123456789 
 1234567  
  12345   
   123    
    1

In [67]:
for i in range(9,0,-2):
    string=''
    for j in range(1,i+1):
        string=string+str(j)
    print(string.center(10),end='')
    print()

123456789
 1234567
  12345
   123
    1

567898765 
 4567654  
  34543   
   232    
    1

In [68]:
for i in range(5,0,-1):
    count=i
    string=""
    for j in range(1,2*i):
        string=string+str(count)
        if j>=(2*i)/2:
            count-=1
        else:
            count+=1
    print(string.center(10))

567898765
 4567654
  34543
   232
    1

543212345 
 5432345  
  54345   
   545    
    5

In [69]:
for i in range(5,0,-1):
    raw=5
    string=""
    for j in range(1,2*i):
        string=string+str(raw)
        if j>=(2*i/2):
            raw+=1
        else:
            raw-=1
    print(string.center(10))

543212345
 5432345
  54345
   545
    5

    *     
   ***    
  *****   
 *******  
********* 
 *******  
  *****   
   ***    
    *

In [74]:
for i in range(1,11,2):
    print(("*"*i).center(10))
for i in range(7,0,-2):
    print(("*"*i).center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

    1     
   222    
  33333   
 4444444  
555555555 
 4444444  
  33333   
   222    
    1

In [76]:
for i in range(1,6):
        print((str(i)*(2*i-1)).center(10))
for i in range(4,0,-1):
        print((str(i)*(2*i-1)).center(10))

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

    1     
   123    
  12345   
 1234567  
123456789 
 1234567  
  12345   
   123    
    1

In [79]:
for i in range(1,10,2):
    string=''
    for j in range(1,i+1):
        string=string+str(j)
    print(string.center(10),end='')
    print()
for i in range(7,0,-2):
    string=''
    for j in range(1,i+1):
        string=string+str(j)
    print(string.center(10),end='')
    print()

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

    5     
   545    
  54345   
 5432345  
543212345 
 5432345  
  54345   
   545    
    5

In [81]:
for i in range(1,6):
    raw=5
    string=""
    for j in range(1,2*i):
        string=string+str(raw)
        if j>=(2*i/2):
            raw+=1
        else:
            raw-=1
    print(string.center(10))
for i in range(4,0,-1):
    raw=5
    string=""
    for j in range(1,2*i):
        string=string+str(raw)
        if j>=(2*i/2):
            raw+=1
        else:
            raw-=1
    print(string.center(10))

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [20]:
for i in range(1,10,2):
    print((".|."*i).center(33,"-"))

print(("WELCOME").center(33,"-"))
for j in range(10,0,-2):
    print((".|."*j).center(33,"-"))

---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
--.|..|..|..|..|..|..|..|..|..|.-
-----.|..|..|..|..|..|..|..|.----
--------.|..|..|..|..|..|.-------
-----------.|..|..|..|.----------
--------------.|..|.-------------

In [20]:
for i in range(1,11):
    string=''
    temp='j'
    for j in range(1,2*i):
        string=string+"-"+temp
        if j<(2*i/2):
            p=ord(temp)-1
            temp=chr(p)
        else:
            p=ord(temp)+1
            temp=chr(p)
    print(string.center(37,"-"))
for i in range(9,0,-2):
    string=''
    temp='j'
    for j in range(1,2*i):
        string=string+"-"+temp
        if j<(2*i/2):
            p=ord(temp)-1
            temp=chr(p)
        else:
            p=ord(temp)+1
            temp=chr(p)
    print(string.center(37,"-"))

-------------------j-----------------
-----------------j-i-j---------------
---------------j-i-h-i-j-------------
-------------j-i-h-g-h-i-j-----------
-----------j-i-h-g-f-g-h-i-j---------
---------j-i-h-g-f-e-f-g-h-i-j-------
-------j-i-h-g-f-e-d-e-f-g-h-i-j-----
-----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j---
---j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-
-j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
---j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-
-------j-i-h-g-f-e-d-e-f-g-h-i-j-----
-----------j-i-h-g-f-g-h-i-j---------
---------------j-i-h-i-j-------------
-------------------j-----------------

In [22]:
string="helow"
for i in string:
    print(i)

h
e
l
o
w

In [23]:
#lex_auth_012693825794351104168

def find_common_characters(msg1,msg2):
    string=''
    for i in msg1:
        if i in msg2:
            string=string+i

#Provide different values for msg1,msg2 and test your program
msg1="I like Python"
msg2="Java is a very popular language"
common_characters=find_common_characters(msg1,msg2)
print(common_characters)

None